@{
    ViewBag.Title = "Debug menu";
}

<h2>Debug menu</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Players", "Players")</li>
        <li>@Html.ActionLink("Game States", "GameStates")</li>
    </ul>
</div>