@model Othello.Models.PlayerGame

@{
    ViewBag.Title = "GameOver";
}

<h2>GameOver</h2>
<p>@{ var p = Model.GameState.WinningPlayer;
      if (p == null) { <text>Remíza</text> }
      else{ <text>Vyhrál @Html.ValueFor(model => model.GameState.WinningPlayer.Name)</text> };
} 
</p>

<div>
    @Html.ActionLink("Play Again", "PlayAgain", new { idPlayer = Model.Player.Id });
</div>
