@model Othello.Models.PlayerGame

@{
    ViewBag.Title = "GameOver";
}

<h2>Konec hry</h2>
<p>@{ var p = Model.GameState.WinningPlayer;
      if (p == null) { <text>Remíza</text> }
      else{ <text>Vyhrál <b>@Html.ValueFor(model => model.GameState.WinningPlayer.Name)</b></text> };
} 
</p>

<div>
    @Html.ActionLink("Hrát znovu", "PlayAgain", new { idPlayer = Model.Player.Id });
</div>
