@model Othello.Models.PlayerGame

@{
    ViewBag.Title = "Game";
}

<h2>Game</h2>

<fieldset>
    <legend>Fight!</legend>
    <p>@Html.DisplayFor(model => model.GameState.BlackPlayer.Name) (Black) vs. @Html.DisplayFor(model => model.GameState.WhitePlayer.Name) (White)</p>
    <p>@{ if (Model.ImPlaying){ 
              <text><b>Jsi na tahu</b></text> 
        } else { 
              <text>Protivník je na tahu</text>
        } } 
    </p>

    <table >

        @for (int x = 0; x < 8; x++)
        {
            <tr>
            @for (int y = 0; y < 8; y++)
{
    <td style="border: 1px solid black; width: 20px; height:20px; text-align: center">

        @switch (Model.GameState.Board[x, y])
        {
            case Othello.Models.FieldColor.Empty:
                if (Model.ImPlaying && Model.GameState.ValidMove(x,y))
                {
                    <text>@Html.ActionLink("tah", "GameTurn", new { idG = Model.GameState.Id, idP = Model.Player.Id, x = x, y = y })</text>
                }
                else
                {
                    <text></text>
                }
                break;
            case Othello.Models.FieldColor.Black:
                <text>B</text> break;
            case Othello.Models.FieldColor.White:
                <text>W</text>break;
        }
    </td>
}
             </tr>   
         }
       
        
    </table>

    <p>Tak a tady je úžasné dočasné zobrazení herního plánku. Musí se doplnit odkazy a posílání tahů. A pak zase periodické volání nějaké akce, pro kontrolu toho, že se hráč neodpojil.</p>
</fieldset>