@model Othello.Models.GameState

@{
    ViewBag.Title = "Game";
}

<h2>Game</h2>

<fieldset>
    <legend>Fight!</legend>
    <p>@Html.DisplayFor(model => model.BlackPlayer.Name) vs. @Html.DisplayFor(model => model.WhitePlayer.Name)</p>

    <p>Tak a tady bude potřeba nějaké zobrazení herního plánku. A pak zase periodické volání nějaké akce, pro kontrolu toho, že se hráč neodpojil.</p>
</fieldset>