@model IEnumerable<Othello.Models.UserRecord>


@{
    ViewBag.Title = "Index";
}

<h1>Hello World</h1>
<div>
    @using (Html.BeginForm("Remember", "Home"))
    {
        <input type="text" id="name" name="name"/>
        <input type="submit" id="submit"/>
    }
    @Html.ActionLink("Remember time", "Remember")
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.DisplayFor(modelItem => item.TimeStamp) - @Html.DisplayFor(modelItem => item.Name)</li>
        }
    </ul>
</div>
